.table__container{
    border-radius: 1rem;
}
.table{
    background-color: #fff;
}
.th{
    background-color: #fff;
}
.view__button{
    background-color: #0f6cc9;
    border: none;
    width: 100%;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
}
.row{
    height: 5rem;
    background-color: rgb(255, 255, 255);
}