.table__container{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    max-height: 58vh;
    overflow-y: scroll;
    margin-top: 1rem;
}
.table{
    background-color: #fff;
}
.th{
    background-color: #fff;
}
.view__button{
    background-color: blueviolet;
    border: none;
    width: 100%;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
}
.row{
    height: 5rem;
    background-color: rgb(255, 255, 255);
}