.combo__box label{
    z-index: 10;
    overflow-x: visible;
    font-family: "Manrope", sans-serif;
    color: #ffffffb3;
    font-size: 0.9rem;
}


@media screen and (min-width: 900px) {
    .combo__box{
        width: 25%;
    }
}