.header__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo__account__box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__up__section {
    display: flex;
    flex-direction: column;
    margin: 1% 2%;
    gap: 1.5rem;
}

.header__up__section h2 {
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: 700;
}

.header__logo__container img {
    width: 70%;
}

.header__down__section {
    width: 100%;
    gap: 2%;
    background-color: #ffffff;
    margin: 1% 0;
    display: flex;
    align-items: center;
}

.hd__button__container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    box-sizing: border-box;

}

.header__down__section button {
    border: none;
    background-color: rgb(243, 243, 243);
    padding: 10px 5%;
    border-radius: 50px;
    margin-right: 2%;
}

@media screen and (min-width: 900px) {
    .header__up__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1% 2%;
    }

    .hd__button__container {
        justify-content: center;
    }

    .header__down__section button {
        border: none;
        background-color: rgb(243, 243, 243);
        padding: 10px 2%;
        border-radius: 50px;
        margin-right: 2%;
    }
}