
.dashboard__container{
    display: flex;
    width: 100%;
}
.dashboard__main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.dashboard__header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    background-color: #fff;
    color: #000;
    gap:2%;
    font-size: 1rem;
    padding-right: 2%;
}
.dashboard__header p{
    font-size: 0.8rem;
    margin: 0;
}
.dashboard__header button{
    border: none; 
    height: 50%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    background: radial-gradient(circle at 30% 30%, #52b0db,#00c9a7, #0f6cc9,  #6bc89b);
    background-size: 400% 400%;
    animation: gradientMove 8s ease infinite;
    /*background-color: #6100bd;*/
    color: #fff;
    border-radius: 10px;
    padding: 0 1.5% ;
    font-size: 0.8rem;
}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.dashboard__header button:hover{
    cursor: pointer;
    background-color: #0a001b;
}
.dashboard__header img{
    width: 2%;
}
.dashboard__header img:hover{
    cursor: pointer;
}
.dashboard__content{
    display: flex;
    width: 100%;
    gap: 1rem;
    background-color: #eeeeee;
    justify-content: space-between;
}
.variable__content{
    width: 70%;
}