*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.highligth__section__container{
    background: radial-gradient(circle at 30% 30%, #272727,#3d3d3d, #4e4e4e,  #252525);
    /*background: linear-gradient(-45deg, #7000da, #22005c, #7000da, #22005c);*/
    background-size: 600% 600%;
    animation: gradientAnimation 7s ease-in-out infinite;
    padding: 2rem 0;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.highligth__section__title{
    font-family: "oswald", sans-serif;
    font-size: 2.5rem;
    color: #fff;
    margin: 1rem 0;
    z-index: 10;
    font-weight: 800;
}
.link{
    
    padding: 5% 0;
    text-align: center;
    width: 50%;
    border: none;
    text-decoration: none;
    color: #ffffff;
    border-radius: 1rem;
    font-weight: 500;
    backdrop-filter: blur(8px); /* borrosidad */
    -webkit-backdrop-filter: blur(100px); /* compatibilidad Safari */
    background-color: rgba(255, 255, 255, 0.521);
    margin-bottom: 5%;
    
}

.link:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.562);
}
.highligth__section{
    width: 100%;
    position: relative;
}

.highligth__section video{
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.highligth__section__inside{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.highligth__section__box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (min-width: 900px) {
    .highligth__section__container{
        
        width: 100vw;
        height: 100vh;
    }

    .highligth__section__title{
        font-family: "oswald", sans-serif;
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: 1rem;
        margin: 1rem 0;
        
    }
    .link{
        z-index: 10;
        width: 30%;
        margin: 0;
        padding: 1.2% 0;
    }

    .highligth__section{
        width: 100%;
        height: 100%;
    }

    .highligth__section video{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    .highligth__section__inside{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .highligth__section__box{
        width: 100%;
        height: 69%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}