.table__container{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    max-height: 58vh;
    overflow-y: scroll;
    margin-top: 1rem;
    font-size: 0.9rem;
}
.table{
    background-color: #fff;
}
.th{
    background-color: #fff;
}


.view__button{
    background-color: #007ac0;
    border: none;
    width: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.view__button:hover{
    background-color: #004c79;
    
}
.x__button{
    background-color: #ff0000;
    border: none;
    width: 2rem;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.x__button:hover{
    background-color: #ac0000;
    
}
.check__button{
    background-color: #009400;
    border: none;
    width: 2rem;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.check__button:hover{
    background-color: #004700;
    
}
.row{
    height: 4rem;
}
.actions{
    display: flex;
    gap: 0.5rem;
}
.actions img{
    width: 1.5rem;
    align-self: center;
}
